* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  height: 100%;
}

#game-stats {
  position: absolute;
  z-index: 1000;
  left: 43.5%;
  color: white;
 }

#green-square {
  top: 0;  
  left: 0;
  background: green;
}

#red-square {
  top: 0;  
  left: 50%;
  background: red;
}

#yellow-square {
  top: 50%;
  left: 0;
  background: yellow;
}

#blue-square {
  top: 50%;
  left: 50%;
  background: blue;
}

.square {
  position: fixed;
  width: 50%;
  height: 50%;
}

.low-opacity {
  opacity: .3;
}

.p-l-15px {
  padding-left: 15px;
}

.p-r-15px {
  padding-right: 15px;
}

.text-white {
  color: white;
}

.inline {
  display: inline;
}

.float-right {
  float: right;
}