<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Simon Game</title>
  <script src="./scripts/angular.min.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/styles.css">
</head>
  <body ng-app="simonGame" ng-controller="simonGameController" ng-cloak>

  <!-- START container -->
  <div id="main-container">

    <header>
      <!-- Score Board -->
      <!-- <h3 id="game-stats" class="text-center">
        <span>Round: {{ currentRound + 1 }}</span>
        <span class="p-l-20px">Correct Count: {{ currentRoundCorrectCount }} of {{ simonSequence.length}}</span>
      </h3> -->
    </header>
    
    <div ng-repeat="(key, value) in coloredSquares"
      id="{{ key + '-square' }}"
      ng-class="{'low-opacity': value.isLowOpacity}"
      ng-click="squareClick(key)"
      class="square">

      <h3 ng-if="key == 'green'" class="inline float-right p-r-15px text-white">
        Round: {{ currentRound + 1 }}
      </h3>
      <h3 ng-if="key == 'red'" class="inline p-l-15px text-white">
        Correct Count: {{ currentRoundCorrectCount }} of {{ simonSequence.length}}
      </h3>
    </div>

  </div>
  <!-- END container -->
  <script src="./scripts/modules/app.js"></script>
  <script src="./scripts/controllers/simonGameController.js"></script>
  </body>
</html>
